div.col-xs-8{
	background: url("../images/peppapig.jpg");
	background-position: center;
	background-repeat:no-repeat;
	background-color:yellow;
	background-size:60%;
	margin-bottom: 0;
}

div > h1{
	padding:10% 35%;
	color:blue;
	font-size: 48px;
	font-style: italic;
	text-shadow: 2px 2px 8px #FF0000;
}

div.col-xs-4{
	background-color:lightblue;
	height:600px;
	border: dashed yellow 1px;
	margin-bottom:20px;
	padding-top:5%;
	text-align: center;
	color:purple;
}

.row{
	background-color:pink;
}

section > p{
	margin-bottom:0;
}

section > div{
	margin-top:0;
}

img{
	width:300px;
	height:200px;
	margin-top:50px;
}